<!doctype html>
<title>ViSaaS</title>
<link rel=stylesheet type=text/css href="/public/style.css">
<div class=page>
  <div class=icon>
    <a href="/">
      <h1>ViSaaS</h1>
    </a>
  </div>
  <div class=metanav>
  </div>

  <%= yield %>

</div>