<ul class=entries>
<!-- <li>
  <h1>Plot Tools</h1><h2>Try on our Weather Data</h2>
  <a href="/weather/forecast">Try Weather Data Plotting!</a>
</li> -->
<li>
  <a href="/upload"><h1>Upload & Plot your data</h1></a>
</li>
<li>
  <a href="/worldmap"><h1>Create World Maps</h1></a>
</li>
<li>
  <a href="/usmap"><h1>Create United States Maps</h1></a>
</li>
<li>
  <a href="/animatedusmap"><h1>Animated United States Maps</h1></a>
</li>
<li>
  <a href="/wordcloud"><h1>Design Word Clouds</h1></a>
</li>
</ul>