<ul class=entries>
<li><h1>Sample Data</h1><h2>Weather Data</h2><a href="/weather/data"> Try weather data!</a>
<li>
  <h1>Plot Tools</h1><h2>Try on our Weather Data</h2>
  <a href="/weather/forecast">Try Weather Data Plotting!</a>
  <h2>Try on your own data (coming soon)</h2>
</li>
<li>
<a href="/plot">Plot your data</a>
</li>
</ul>