<ul class=entries>
<li>
  <h1>Plot Tools</h1><h2>Try on our Weather Data</h2>
  <a href="/weather/forecast">Try Weather Data Plotting!</a>
</li>
<li>
  <h1>Try on your own data</h1>
  <a href="/upload">Plot your data</a>
</li>
<li>
  <a href="/worldmap"><h1>Create World Maps</h1></a>
</li>
<li>
  <a href="/usmap"><h1>Create United States Maps</h1></a>
</li>
</ul>