{% extends "layout.html" %}
{% block body %}
  <h2>Weather Data</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('weather') }}" method=post>
    <dl>
      <dt>Enter a City Name:
      <dd><input type=text name=cityname>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
  {% if weather %}
  <p>Current temperature: {{weather["current_temperature"]}}</p>
  <p>Current pressure: {{weather["current_pressure"]}}</p>
  <p>Current humidity: {{weather["current_humidity"]}}</p>
  <p>Description: {{weather["description"]}}</p>
  {% endif %}
{% endblock %}